<div
  class="p-4 rounded-lg bg-purple-600 text-white text-center shadow-sm shadow-gray-500"
>
  <div>
    <div class="flex gap-2 items-center justify-self-center">
      <div class="w-12 h- rounded-full overflow-hidden">
        <img
          src="https://api.dicebear.com/7.x/shapes/svg?seed=task"
          alt="logo"
          class="w-12 h-12 backdrop-blur-lg"
        />
      </div>
      <h1 class="text-2xl font-bold !uppercase mb-2">{{ title() }}</h1>
    </div>
    <p class="text-black">
      {{ description() }}
    </p>
  </div>
</div>
